<a href="https://colab.research.google.com/github/WahyuKhairi06/BigData_2311531009_Wahyu-Khairi/blob/main/Praktikum%202/analisis_tugas_1_praktikum_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Cari rata rata harga buku**

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('/content/tugas2-scrapping.csv')

df['harga'] = df['harga'].str.split('\n').str[0].str.replace('Â£', '').astype(float)

df['rating'] = df['rating'].str.split(' ').str[-1]

#kalkulasi rata rata harga buku
average_price = df['harga'].mean()
print(f"Rata-rata harga buku adalah: {average_price:.2f}")

Rata-rata harga buku adalah: 40.64

# **Cari jumlah buku yang rating 5**

In [ ]:
import re
raw = " ".join(df['rating'].astype(str).tolist())

# Cari semua rating (One, Two, Three, Four, Five)
ratings = re.findall(r"\b(One|Two|Three|Four|Five)\b", raw)

# Hitung jumlah "Five"
five_count = ratings.count("Five")

print("Jumlah buku dengan rating Five:", five_count)

Jumlah buku dengan rating Five: 14